<header>
    <h1>Events</h1>
</header>
<% if @current_user %>
  <%= link_to  "your event's", user_path(@current_user) %>
<% end %>


<h2>Public Events:</h2>

<% if @is_public %>
    <ul>
    <h2>upcoming event's</h2>
    <% @upcoming_events.each do |event| %>
    <li>
        <%= link_to  event.title, event_path(event) %>
    </li>
<% end %>
</ul>

<ul>
    <h2>past event's</h2>
    <% @current_events.each do |event| %>
    <li>
        <%= link_to  event.title, event_path(event) %>
    </li>
<% end %>
</ul>


<ul>
    <h2>past event's</h2>
    <% @past_events.each do |event| %>
    <li>
        <%= link_to  event.title, event_path(event) %>
    </li>
<% end %>
</ul>
  
<% end %>






<% if @current_user %>
  <%= button_to  "new event", new_event_path, method: :get %>
  <br>
   <p>your name : <%= @current_user.username %></p>
  
   <p>your email : <%= @current_user.email %></p>
  
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
  
<% end %>

<br>
<br>

<% if !@current_user %>
  <%= button_to "log in", new_user_session_path %>
<% end %>


