


<h1>Event title</h1>
<p><%= @event.title %></p>
<h1>Event description</h1>
<p><%= @event.description %></p>
<h1>Event's location</h1>
<p><%= @event.location%> </p>
<h1>Event's start date</h1>
<p><%= @event.start_date%></p>
<h1>Event's end date</h1>
<p><%= @event.end_date%></p>

<% if @event.is_private? %>
<h1> this Event is private </h1> 
<% end %>


<% if @current_user == @event.creator %>
  <%= link_to  "edite your event", edit_event_path(@event)%>
<% end %>



<br>

<%= link_to  "home page", root_path %>

<p>event's creator email "<%= @event.creator.username%>"</p>


<br>





<% if @current_user and @current_user == @event.creator %>
    <%= button_to  "Delete", event_path(@event), method: :delete %>
<% end %>





<% if user_signed_in? %>
  <% if @user_attending %>
    <p>thank you for attending this event.</p>
    <%= button_to  "unattend event", unattend_event_path(@event), method: :delete %>
  <% else %>
    <%= form_for(@attendance, url: attend_event_path) do |f| %>
    
      <%= f.hidden_field :event_id, value: @event.id %>
      <%= f.submit "Attend Event" %>
    <% end %>
  <% end %>
<% else %>
  <p>Please sign in to attend this event.</p>

<% end %>

<h2> Event's attenders</h2>

<ul>
<% @attendees.each do |attender| %>
    <li><%= attender.username %></li>  
<% end %>

</ul>




